html {
  box-sizing: border-box;
  font-size: 18px;
}


.wrapper{
  max-width: 300px;
  margin: 0 auto;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.form__item{
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


.form__item input {
  min-height: 25px;
  border-radius: 5px;
  outline: none;
  margin-top: 5px;
}

#checkbox{
  /* display: none; */
}
.form__item:nth-child(5){
  flex-direction: row;
  align-items: center;
}



.form__btn{
  cursor: pointer;
  color:#fff;
  background-color: #000;
  margin-top: 10px;
  padding: 12px 25px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.checked{
  visibility: hidden;
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translateY(-50%);
  top: 40px;
  right: 10px;
}

.errors{
  color:rgb(231, 127, 8);
  font-size: 14px;
}
